.navBar{
    width: 1200px;
    min-width: 1200px;
    height: 50px;
    background-color: #0E5D98;
    margin: 0 auto;
}

.navBar .navBarContent{
    width: 1000px;
    height: 50px;
    /*background-color: #00FF00;*/
    margin: 0 auto;
}

.navBar .navBarContent ul{
    height: 50px;
    list-style: none;
    margin: 0 auto;
}

.navBar .navBarContent ul li{
    height: 50px;
    margin: 0 15px;
    float: left;
    line-height: 50px;
}

.navBar .navBarContent ul li a{
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    text-decoration: none;
}

.navBar .navBarContent ul li:hover a{
    color: white;
}

.navBar .navBarContent ul li p{
    color: #737373;
    font-size: 16px;
}