#testNumCodeDiv{
    width: 200px;
    height: 30px;
    border: black 1px solid;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
}
#buttonNumDiv{
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}

#testCodeDiv{
    width: 200px;
    height: 30px;
    border: black 1px solid;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
}
#buttonDiv{
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}