#emailRegisterDiv{
    width:400px;
    height: 600px;
    background-color: darkgrey;
    border: #555555 1px solid;
    margin: 50px auto 0;
    text-align: center;
}

#emailRegisterDiv #registerTitle{
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}

#emailRegisterDiv input{
    width: 350px;
    height: 30px;
    font-size: 18px;
    margin-top: 20px;
}

#emailRegisterDiv span{
    font-size: 15px;
    color: darkred;
}

#emailRegisterDiv button{
    width: 200px;
    height: 30px;
    font-size: 15px;
    margin-top: 20px;
}