.recommend {
    width: 100%;
    min-width: 1226px;
    height: 196px;
    /*background-color: darkgreen;*/
}

.recommend .content{
    width: 1226px;
    height: 170px;
    /*background-color: lightseagreen;*/
    margin: 14px auto 26px;
}

.recommend .content ul{
    width: 228px;
    height: 164px;
    list-style: none;
    background-color: #5F5750;
    padding: 3px;
    float: left;
}

.recommend .content ul li{
    width: 70px;
    height: 82px;
    padding: 0 3px;
    float: left;
    position: relative;
}

.recommend .content ul li::before{
    content: "";
    width: 64px;
    height: 1px;
    background-color: #665E57;
    position: absolute;
    top: 0;
    left: 6px;
}
.recommend .content ul li::after{
    content: "";
    width: 1px;
    height: 70px;
    background-color: #665E57;
    position: absolute;
    top: 6px;
    right: 0;
}

.recommend .content ul li:nth-child(3n)::after{
    display: none;
}

.recommend .content ul li a{
    display: block;
    width: 70px;
    height: 36px;
    padding-top: 18px;
    color: white;
    font-size: 12px;
    text-align: center;
}

.recommend .content ul li a img{
    width: 24px;
    height: 24px;
    margin: 0 23px 4px;
}

.recommend .content > a{
    float: left;
    margin-left: 15px;
}
.recommend .content > a img{
    width: 315px;
    height: 170px;
}