{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="https://github.com/loukjltd">Sean Lou</a>
              <small class="text-muted">Create Date: July 01, 2020</small>
            </div>
            <h2><a class="article-title" href="#">About Page</a></h2>
            <p class="article-content">*****Some Dummy Words*****Hello, first of all thank you for giving me a chance to show myself.  My name is Sean Lou and I'm from Net 182. I like photography and I am particularly interested in journalism.  When I was in high school, I had participated in school photography competitions, and the photos I took in a few years made me accumulate a lot of experience.  At the same time, I also published many press releases for the school during the Games and published them in the school newspaper. After several years of writing, I have mastered some of the more important elements in writing press releases, so I hope I can enter the press center for further study.</p>
          </div>
        </article>
{% endblock content %}
